@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
  /* color: white; */
  color: antiquewhite;
  background-color: rgb(30, 29, 29);
}
body {
  font-family: 'Poppins', sans-serif;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  height: 100vh;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10%;
  width: min-content;
  height: 100vh;
  /* margin: auto auto; */
  border: 2px solid white;
}
.home-container button {
  font-weight: bold;
  color: whitesmoke;
}
